*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body ,html{
    width: 100%;
    height: 100%;
}
nav {
    position: absolute;
    background-color:#bfc7ce;
    width: 100%;
    height: 100px;
    color: black;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    
}

#nav::before {}

nav img {
    border-radius: 60px;
}

nav ul {
    /* display: flex; */
    float: right;
    align-items: center;
    /* justify-content: center; */
}

nav ul li {
    display: inline-block;
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'bree serif', serif;
}

nav ul li a {
    /* display: block; */
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
}

ul li a.active,
a:hover {
    color: black;
    background-color: white;
}
#checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color:black;
    /* display: none; */

}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}

#home {
    display: flex;
    color: solid black;
    font-size: 2px;
    flex-direction: column;
    top: 0px;
    left: 0px;
    height: 600px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background-image:url(bg2.jpg);
    background-size: cover;
    position: absolute;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'bree serif', serif;
}

/* services section */
#services {
    margin: 34px;
    display: flex;
    text-align: center;
}

#services .box img {
    display: block;
    width: 100%;
    height: 300px;
    /* margin: 30px; */

}

#services .box {
    margin: 16px 6px;
    border-radius: 35px;
    padding: 34px;
    background-color: gainsboro;
    border: 2px solid brown;



}
/* client-section */
#client-section {
    width: 100wv;
    background-image: url("bg.jpg");
    position: relative;
    font-size: 30px;
    color: white;
    text-align: center;
    background-size: cover;
    font-style: italic;
    z-index: -1;
    opacity: 0.8;

}

#client {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-item {
    display: inline-block;
    padding: 30px;

}

/* contact section */
#contact {
    position: relative;
    color: white;
    width: 100%;
    height: 90%;
    background-image: url(food4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.9;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: bottom 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;

}

#contact-box label {
    font-size: 1.3rem;
    font-family: Bree sans-serif;
}

footer {
    text-align: center;
    background-color: lightgray;
    color: navy;
    padding: 9px 20px;
}

/* utility classes  */

.h-primary {
    font-style: oblique;
    text-align: center;
    font-size: 3.1rem;
    padding: 12px;
}

.h-secondry {
    font-style: oblique;
    align-items: center;
    font-size: 3.1rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #bfc7ce;
    color:black;
    font-style: italics;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}