* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body ,html{
    scroll-behavior: smooth;
    background-color: #bfc7ce;
    width: 100%;
    height: 100%;
}



nav {
    position: absolute;
    background-color:pink;
    width: 100%;
    height: 80pxpx;
    color: black;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 20px;
    
}

#nav::before {}

nav img {
    border-radius: 60px;
}

nav ul {
    align-items: center;
   }

nav ul li {
    display: inline-block;
    margin: 20px;
    font-weight: 700;
    float: right;
    font-size: 20px;
    font-family: 'bree serif', serif;
}

nav ul li a {
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
}

ul li a.active,
a:hover {
    color: black;
    background-color: white;
}
#checkbtn{
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color:black;
    display: none;

}
#check{
    display: none;
}
#check:checked ~ ul{
    left: 0;
}
@media (max-width:895px) {
    #checkbtn{
        display: block;
    } 
    nav ul {
        width: 100%;
        height: 100vh;
        background-color: lightgreen;
        position: fixed;
        top: 80px;
        right: -100%;
        transition:5s ;
    }
    nav ul li{
        display: block;
        text-align: center;
        line-height: 40px;
        margin: 10px;
       
    }
   
}
    

